* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin-top: 35px;
}

.title {
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 20px;
  color: #9a031e;
}

.highlight {
  color: #dc2f02;
}

#message {
  font-size: 24px;
  margin-bottom: 20px;
  font-style: italic;
}

#proud-message {
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  color: #457b9d;
  margin-top: 20px;
}

button {
  background-color: #ed6b75;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 20px;
}

button:hover {
  background-color: #ff9aa2;
}

footer {
      background-color: #f2f2f2;
      text-align: center;
      padding: 5px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;
    }
    
    .sky {
      background: radial-gradient( circle closest-corner at 15% 15%,
        #f8961e 0%, 
       #f8961e 20%, 
       #e9ff70 21%, 
       #a9def9 100%);
    } 
   

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .title {
    font-size: 24px;
  }
  #message {
    font-size: 20px;
  }
  #proud-message {
    font-size: 16px;
  }
  button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-size: contain;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    padding: 10px;
  }
}
